@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: 32 32 32;
  --secondary-color: 250 250 250;
}

html {
  background-color: rgb(var(--secondary-color));
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--primary-color));

  nav {
    border-bottom: 2px solid rgba(var(--primary-color) / 0.1);
    div {
      margin-left: 1em;
      h1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 2.5em;
        margin-block: 0.4em;
      }
    }
  }

  main {
    margin-top: 1em;
    margin-inline: 1em;
    .page-title {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-block: 0 1.5em;
      h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 2.3em;
        margin: 0;
      }
    }
  }
}

@keyframes loading-animation {
  to {
    rotate: 360deg;
  }
}

@keyframes end-loading-animation {
  to {
    rotate: 0deg;
  }
}
