button {
  all: unset;

  border: 2px solid rgba(0 0 0 / 0.5);
  padding: 0.25em 0.75em;
  font-size: 0.8em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: rgba(0 0 0 / 0.05);
  }

  &:active {
    background-color: rgba(0 0 0 / 0.1);
  }
}
