.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.6em;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    /* Mobile: Stacked Logic */
    .card:first-child {
      border-radius: 0.5em 0.5em 0 0;
    }
    .card:last-child {
      border-radius: 0 0 0.5em 0.5em;
    }
    .card:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  .card {
    width: 100%;
    border: 2px solid rgba(var(--primary-color) / 0.1);
    padding: 0.8em;
    border-radius: 0; /* Handled by JS */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Desktop Layout (2-column) Dynamic Corners */
    /* Top-Left: First item */
    &:nth-child(1) {
      border-top-left-radius: 0.5em;
    }

    /* Top-Right: Second item */
    &:nth-child(2) {
      border-top-right-radius: 0.5em;
    }

    /* Bottom-Left: Last item if odd (spans or alone) OR 2nd to last if even (full row) */
    &:last-child:nth-child(odd),
    &:nth-last-child(2):nth-child(odd) {
      border-bottom-left-radius: 0.5em;
    }

    /* Bottom-Right: Last item always catches the right corner in this 2-col flow 
             (Either it's pos 4 (even) or pos 3 spans (odd)) */
    &:last-child {
      border-bottom-right-radius: 0.5em;
    }

    &.weekly-summary {
      grid-column: 1 / -1;
    }

    .card-title {
      margin: 0;
      font-size: 1.4em;

      &.recent-sessions,
      &.weekly-summary {
        display: flex;
        justify-content: space-between;
      }
    }

    .card-body {
      margin-block: 1em;

      .current-session {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 4em;
        margin-block: 0em;
      }
    }

    .card-footer {
      display: flex;
      justify-content: end;
      font-size: 0.85em;

      .session-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1em;
      }
    }
  }
}
