.card {
  width: 100%;
  background-color: white;
  border: 2px solid rgba(var(--primary-color) / 0.1);
  padding: 0.8em;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-title {
    margin: 0;
    font-size: 1.4em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
  }

  .card-body {
    margin-block: 1em;

    .current-session {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 4em;
      margin-block: 0em;
    }
  }

  .card-footer {
    display: flex;
    justify-content: end;
    font-size: 0.85em;

    .session-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }
  }
}

@media (max-width: 1024px) {
  /* Mobile: Stacked Logic */
  .card:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .card:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
